body {
    font-family: 'Georgia', serif;
    background-color: gray;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.story-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 600px;
    text-align: justify;
    line-height: 1.6;
    height: auto;
}

p {
    margin-bottom: 20px;
}

.story-container .unflinching img{
    height: auto;
    display: block;
    max-width: 10%;
    margin: 0 auto;
}